server/.gradle
server/.idea
server/.gitignor
server/local.properties
server/SampleProject.iml
server/src/main/generated/
.DS_Store
server/.DS_Store
server/src/.DS_Store
server/src/main/.DS_Store
.vscode/
APT/
ETC/
OPST/
Villa/
Real_estate_transaction_data1(공공데이터-1273500).csv
Real_estate_transaction_data2(공공데이터-1273501~).csv
flask-server/.venv/
flask-server/__pycache__/
flask-server/models/
flask-server/logs.log
flask-server/data/