server/.gradle
server/.idea
server/.gitignor
server/local.properties
server/SampleProject.iml
server/src/main/generated/
.DS_Store
server/.DS_Store
server/src/.DS_Store
server/src/main/.DS_Store
.vscode/
data_analysis/
flask-server/.venv/
flask-server/__pycache__/
flask-server/data/
flask-server/logs.log
flask-server/models/